@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---background: #f6f6f6;
  --black: #323235;
  --grey-text: #5e5e63;
  --border-grey: #e6ebef;
  --light-grey-text: #75757a;
  --bg-grey: #f4f6f8;
  --white: white;
  --dim-grey: #707072;
  --project-card-background: #eceff1;
  --callout-bar-accent: #bdbdc5;
  --ziprecruiter-green: #277e69;
  --light-coral: #ff7171;
  --purple-accent: #8075ff;
}

body {
  background: var(---background);
}
